In [58]:
import pandas as pd
import numpy as np

In [59]:
# Load data and look at the data

In [60]:
df=pd.read_csv("weatherAUS.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [61]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [62]:
# Checking fraction of NaN value across columns

In [63]:
for col in df.columns:
    print(f"{col}: {(round(df[col].isnull().mean()*100))}% NaN")

Date: 0% NaN
Location: 0% NaN
MinTemp: 1% NaN
MaxTemp: 1% NaN
Rainfall: 2% NaN
Evaporation: 43% NaN
Sunshine: 48% NaN
WindGustDir: 7% NaN
WindGustSpeed: 7% NaN
WindDir9am: 7% NaN
WindDir3pm: 3% NaN
WindSpeed9am: 1% NaN
WindSpeed3pm: 2% NaN
Humidity9am: 2% NaN
Humidity3pm: 3% NaN
Pressure9am: 10% NaN
Pressure3pm: 10% NaN
Cloud9am: 38% NaN
Cloud3pm: 41% NaN
Temp9am: 1% NaN
Temp3pm: 2% NaN
RainToday: 2% NaN
RainTomorrow: 2% NaN

In [64]:
# For followed columns replacing Nan value by mode() value

In [65]:
cols_NaN_to_mode = ["MinTemp", "MinTemp", "Rainfall", "WindGustDir", "WindGustSpeed", 
                    "WindDir9am", "WindDir3pm", "WindSpeed9am", "WindSpeed3pm", 
                    "Humidity9am", "Humidity3pm", "Pressure9am", "Pressure3pm", 
                    "Temp9am", "Temp3pm"]
for col in cols_NaN_to_mode:
    df[col].fillna(df[col].mode()[0], inplace=True)

In [66]:
# For Cloud9am and Cloud3pm columns replacing Nan value by mean() value

In [67]:
df["Cloud9am"].fillna(round(df["Cloud9am"].mean()), inplace=True)
df["Cloud3pm"].fillna(round(df["Cloud3pm"].mean()), inplace=True)

In [68]:
# Remove row with NaN value in columns RainTomorrow and RainToday and remove columns Evaporation and Sunshine 
# because there are many NaN values - 43% and 48% respectively

In [69]:
df.dropna(axis=0, subset=["RainTomorrow", "RainToday"], inplace=True)
df.drop(columns=["Evaporation", "Sunshine"], inplace=True)

In [70]:
# Looking at the data again

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 140787 entries, 0 to 145458
Data columns (total 21 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           140787 non-null  object
 1   Location       140787 non-null  object
 2   MinTemp        140787 non-null  float64
 3   MaxTemp        140480 non-null  float64
 4   Rainfall       140787 non-null  float64
 5   WindGustDir    140787 non-null  object
 6   WindGustSpeed  140787 non-null  float64
 7   WindDir9am     140787 non-null  object
 8   WindDir3pm     140787 non-null  object
 9   WindSpeed9am   140787 non-null  float64
 10  WindSpeed3pm   140787 non-null  float64
 11  Humidity9am    140787 non-null  float64
 12  Humidity3pm    140787 non-null  float64
 13  Pressure9am    140787 non-null  float64
 14  Pressure3pm    140787 non-null  float64
 15  Cloud9am       140787 non-null  float64
 16  Cloud3pm       140787 non-null  float64
 17  Temp9am        140787 non-null  float64
 18  Temp3pm        140787 non-null  float64
 19  RainToday      140787 non-null  object
 20  RainTomorrow   140787 non-null  object
dtypes: float64(14), object(7)
memory usage: 23.6+ MB

In [72]:
# We got a good dataset without NaN values, but still remain some details

In [73]:
# Change type of Date, RainToday and RainTomorrow columns

In [74]:
df["Date"] = df["Date"].astype("datetime64")
df["RainToday"] = df["RainToday"].astype("category")
df["RainTomorrow"] = df["RainTomorrow"].astype("category")

In [75]:
# Replace value Yes and No to 1 and 0 respectively in columns RainToday and RainTomorrow

In [76]:
class_to_num = {"RainToday": {"Yes": 1, "No": 0}, "RainTomorrow": {"Yes": 1, "No": 0}}
df.replace(class_to_num, inplace=True)

In [77]:
# Reset index

In [78]:
df.reset_index(drop=True, inplace=True)

In [79]:
# Filtering DateFrame

In [80]:
df[df["Date"]=='2008-12-01']

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,W,44.0,W,WNW,20.0,...,71.0,22.0,1007.7,1007.1,8.0,5.0,16.9,21.8,0,0
14579,2008-12-01,Newcastle,13.2,NaN,0.0,W,35.0,NW,NW,6.0,...,50.0,24.0,1016.4,1015.3,3.0,4.0,21.8,30.6,0,0
23340,2008-12-01,Penrith,15.2,32.6,0.0,WNW,59.0,NNE,W,13.0,...,35.0,23.0,1016.4,1015.3,4.0,5.0,24.4,31.3,0,0
29461,2008-12-01,Sydney,17.6,31.3,0.0,W,35.0,ENE,WNW,2.0,...,29.0,21.0,1009.1,1004.6,3.0,7.0,24.9,30.8,0,0
44162,2008-12-01,Canberra,13.6,25.2,0.0,WNW,80.0,WNW,NW,26.0,...,31.0,28.0,1006.3,1004.4,1.0,6.0,19.9,23.9,0,0
47168,2008-12-01,Tuggeranong,13.1,24.2,0.0,WNW,61.0,NW,WNW,22.0,...,36.0,34.0,1005.6,1003.6,4.0,5.0,19.6,23.1,0,0
50127,2008-12-01,MountGinini,5.2,13.0,0.4,W,35.0,N,SE,9.0,...,99.0,52.0,1016.4,1015.3,4.0,5.0,17.0,20.0,0,0
52943,2008-12-01,Ballarat,5.8,17.6,3.2,W,52.0,W,WNW,26.0,...,71.0,37.0,1008.2,1007.5,6.0,5.0,10.4,15.7,1,0
55960,2008-12-01,Bendigo,9.1,21.7,0.0,W,44.0,WNW,WSW,20.0,...,47.0,23.0,1009.1,1007.5,2.0,5.0,14.0,19.4,0,0
65144,2008-12-01,Melbourne,11.8,20.8,1.4,WSW,56.0,WSW,W,24.0,...,52.0,32.0,1009.0,1007.8,5.0,6.0,15.4,19.3,1,0
80923,2008-12-01,Brisbane,17.0,31.3,0.0,S,30.0,WNW,NE,4.0,...,52.0,41.0,1013.9,1010.1,1.0,1.0,25.4,28.6,0,0
83904,2008-12-01,Cairns,25.2,32.3,0.4,NE,31.0,E,ENE,7.0,...,62.0,66.0,1011.3,1008.1,5.0,7.0,31.2,30.7,0,1
86868,2008-12-01,GoldCoast,17.0,30.4,0.0,NNW,31.0,NNW,NE,17.0,...,52.0,61.0,1013.5,1010.7,4.0,5.0,26.2,28.5,0,0
89792,2008-12-01,Townsville,24.4,31.4,23.6,ENE,33.0,NE,ENE,11.0,...,72.0,74.0,1011.9,1008.9,5.0,4.0,30.1,30.1,1,0
92942,2008-12-01,Adelaide,12.6,21.3,0.0,WSW,33.0,WSW,SW,20.0,...,46.0,44.0,1012.8,1012.1,4.0,5.0,17.1,20.2,0,0
95839,2008-12-01,MountGambier,6.6,18.7,4.0,WNW,61.0,WNW,WNW,20.0,...,73.0,39.0,1009.4,1008.9,3.0,3.0,13.4,17.8,1,0
104841,2008-12-01,Albany,13.3,18.5,0.0,W,35.0,NNW,SW,4.0,...,82.0,63.0,1017.9,1015.2,7.0,5.0,15.2,17.9,0,0
116569,2008-12-01,Perth,12.8,27.2,0.0,S,33.0,E,SSW,9.0,...,53.0,41.0,1016.4,1012.6,2.0,1.0,19.2,25.5,0,0
125473,2008-12-01,Hobart,9.7,18.3,0.8,NW,61.0,NW,WNW,26.0,...,54.0,40.0,998.0,998.8,2.0,2.0,12.7,15.9,0,1
128503,2008-12-01,Launceston,9.5,17.9,3.4,WNW,57.0,WNW,NW,19.0,...,53.0,61.0,1000.6,1000.7,4.0,5.0,12.9,14.1,1,1
131523,2008-12-01,AliceSprings,19.6,37.6,0.0,WNW,87.0,NNE,NE,20.0,...,17.0,16.0,1010.5,1005.8,0.0,3.0,30.4,37.2,0,1
134701,2008-12-01,Darwin,26.4,34.6,0.0,NNE,52.0,SSW,NNW,17.0,...,70.0,58.0,1010.5,1005.9,7.0,7.0,30.6,33.9,0,1

In [81]:
locations_list = ["Sydney", "Canberra"]
df[df["Location"].isin(locations_list)]

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
29157,2008-02-01,Sydney,19.5,22.4,15.6,W,35.0,S,SSW,17.0,...,92.0,84.0,1017.6,1017.4,8.0,8.0,20.7,20.9,1,1
29158,2008-02-02,Sydney,19.5,25.6,6.0,W,35.0,W,E,9.0,...,83.0,73.0,1017.9,1016.4,7.0,7.0,22.4,24.8,1,1
29159,2008-02-03,Sydney,21.6,24.5,6.6,W,35.0,ESE,ESE,17.0,...,88.0,86.0,1016.7,1015.6,7.0,8.0,23.5,23.0,1,1
29160,2008-02-04,Sydney,20.2,22.8,18.8,W,35.0,NNE,E,22.0,...,83.0,90.0,1014.2,1011.8,8.0,8.0,21.4,20.9,1,1
29161,2008-02-05,Sydney,19.7,25.7,77.4,W,35.0,NNE,W,11.0,...,88.0,74.0,1008.3,1004.8,8.0,8.0,22.5,25.5,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47163,2017-06-21,Canberra,-2.4,14.7,0.2,WSW,15.0,S,SW,6.0,...,99.0,50.0,1029.2,1026.5,2.0,5.0,0.1,14.5,0,0
47164,2017-06-22,Canberra,-0.4,13.9,0.0,NW,37.0,NNW,NNW,2.0,...,99.0,56.0,1029.9,1025.6,7.0,5.0,4.0,13.3,0,0
47165,2017-06-23,Canberra,-2.9,13.3,0.4,NNW,35.0,N,NNW,7.0,...,99.0,54.0,1022.2,1016.6,8.0,5.0,0.1,12.4,0,0
47166,2017-06-24,Canberra,0.1,14.4,0.0,NW,48.0,N,NW,20.0,...,68.0,45.0,1017.5,1016.2,4.0,5.0,9.1,13.0,0,0
47167,2017-06-25,Canberra,-4.3,14.5,0.0,WNW,54.0,SE,WNW,9.0,...,81.0,49.0,1018.9,1016.5,4.0,5.0,2.3,12.0,0,0

In [82]:
df.iloc[[0,10,15]]

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,W,44.0,W,WNW,20.0,...,71.0,22.0,1007.7,1007.1,8.0,5.0,16.9,21.8,0,0
10,2008-12-11,Albury,13.4,30.4,0.0,N,30.0,SSE,ESE,17.0,...,48.0,22.0,1011.8,1008.7,4.0,5.0,20.4,28.8,0,1
15,2008-12-18,Albury,13.5,22.9,16.8,W,63.0,N,WNW,6.0,...,80.0,65.0,1005.8,1002.2,8.0,1.0,18.0,21.5,1,1

In [83]:
df.loc[:,"Location":"Rainfall"]

       Location  MinTemp  MaxTemp  Rainfall
0        Albury     13.4     22.9       0.6
1        Albury      7.4     25.1       0.0
2        Albury     12.9     25.7       0.0
3        Albury      9.2     28.0       0.0
4        Albury     17.5     32.3       1.0
...         ...      ...      ...       ...
140782    Uluru      3.5     21.8       0.0
140783    Uluru      2.8     23.4       0.0
140784    Uluru      3.6     25.3       0.0
140785    Uluru      5.4     26.9       0.0
140786    Uluru      7.8     27.0       0.0

[140787 rows x 4 columns]

In [84]:
df.WindGustDir.unique()

array(['W', 'WNW', 'WSW', 'NE', 'NNW', 'N', 'NNE', 'SW', 'ENE', 'SSE',
       'S', 'NW', 'SE', 'ESE', 'E', 'SSW'], dtype=object)

In [85]:
df.query("WindGustDir=='SSW' and WindDir9am=='NNW' and Location=='Sydney'")

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
30611,2012-03-01,Sydney,20.1,29.5,27.6,SSW,67.0,NNW,ENE,17.0,...,90.0,58.0,1007.7,1001.4,4.0,5.0,21.3,29.2,1,1

In [86]:
df[df.Location.str.lower().str.startswith("s") & df.WindGustDir.str.lower().str.startswith("w")]

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
29157,2008-02-01,Sydney,19.5,22.4,15.6,W,35.0,S,SSW,17.0,...,92.0,84.0,1017.6,1017.4,8.0,8.0,20.7,20.9,1,1
29158,2008-02-02,Sydney,19.5,25.6,6.0,W,35.0,W,E,9.0,...,83.0,73.0,1017.9,1016.4,7.0,7.0,22.4,24.8,1,1
29159,2008-02-03,Sydney,21.6,24.5,6.6,W,35.0,ESE,ESE,17.0,...,88.0,86.0,1016.7,1015.6,7.0,8.0,23.5,23.0,1,1
29160,2008-02-04,Sydney,20.2,22.8,18.8,W,35.0,NNE,E,22.0,...,83.0,90.0,1014.2,1011.8,8.0,8.0,21.4,20.9,1,1
29161,2008-02-05,Sydney,19.7,25.7,77.4,W,35.0,NNE,W,11.0,...,88.0,74.0,1008.3,1004.8,8.0,8.0,22.5,25.5,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122517,2017-05-22,SalmonGums,3.9,15.9,2.4,WSW,35.0,WNW,WSW,20.0,...,78.0,48.0,1016.4,1015.3,4.0,5.0,9.0,14.2,1,0
122519,2017-05-24,SalmonGums,8.4,19.9,0.0,WNW,31.0,NW,W,7.0,...,79.0,49.0,1016.4,1015.3,4.0,5.0,13.4,19.5,0,0
122521,2017-05-26,SalmonGums,5.2,18.4,0.0,WSW,30.0,W,SW,11.0,...,80.0,56.0,1016.4,1015.3,4.0,5.0,13.0,17.8,0,0
122527,2017-06-01,SalmonGums,6.5,27.4,0.0,WNW,41.0,N,NW,19.0,...,45.0,22.0,1016.4,1015.3,4.0,5.0,18.4,27.1,0,0
122540,2017-06-16,SalmonGums,2.9,18.5,0.4,WNW,17.0,NW,NNW,9.0,...,95.0,57.0,1016.4,1015.3,4.0,5.0,9.9,17.6,0,0

In [87]:
df.rename(columns={"RainTomorrow": "Target"}, inplace=True)

In [88]:
# Sorting DateFrame

In [89]:
df.sort_values(["Location", "MinTemp"]).head(20)

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,Target
92836,2008-07-28,Adelaide,0.7,14.0,0.0,W,22.0,N,W,7.0,...,82.0,61.0,1024.1,1022.4,4.0,5.0,6.4,12.7,0,0
94802,2014-08-04,Adelaide,0.9,14.6,0.0,W,24.0,N,W,0.0,...,64.0,33.0,1034.7,1033.0,4.0,5.0,7.0,14.2,0,0
95818,2017-06-04,Adelaide,1.7,16.3,0.0,W,19.0,N,WSW,0.0,...,75.0,62.0,1030.8,1027.7,4.0,5.0,7.3,14.6,0,0
95141,2015-07-20,Adelaide,1.8,13.3,0.0,N,30.0,NNE,NNW,9.0,...,51.0,40.0,1030.1,1026.2,4.0,5.0,8.2,12.8,0,0
95499,2016-07-16,Adelaide,2.0,16.1,0.0,N,20.0,N,NNW,0.0,...,73.0,40.0,1032.2,1028.4,4.0,5.0,7.4,16.0,0,0
93493,2010-06-14,Adelaide,2.2,13.8,0.0,NNE,26.0,ENE,NNE,4.0,...,79.0,38.0,1034.4,1030.8,4.0,5.0,6.5,13.6,0,0
94200,2012-08-01,Adelaide,2.2,15.5,0.0,N,26.0,N,NNW,7.0,...,71.0,44.0,1027.8,1022.6,4.0,5.0,8.4,15.1,0,0
95140,2015-07-19,Adelaide,2.2,12.6,0.0,N,20.0,N,E,0.0,...,61.0,42.0,1034.1,1030.8,4.0,5.0,7.8,11.5,0,0
93494,2010-06-15,Adelaide,2.3,14.0,0.0,NNW,24.0,NE,WNW,6.0,...,59.0,43.0,1029.2,1025.1,4.0,5.0,8.8,13.8,0,0
93511,2010-07-02,Adelaide,2.3,13.9,0.0,W,22.0,NE,WSW,6.0,...,94.0,62.0,1025.6,1025.1,4.0,5.0,6.3,13.0,0,0
94174,2012-07-06,Adelaide,2.3,14.8,0.0,NNW,24.0,N,NNW,0.0,...,69.0,38.0,1034.6,1030.6,4.0,5.0,7.7,14.4,0,0
94785,2014-07-18,Adelaide,2.3,13.5,8.0,S,24.0,N,WSW,6.0,...,88.0,58.0,1030.0,1029.6,4.0,5.0,6.2,12.3,1,0
94800,2014-08-02,Adelaide,2.3,14.1,2.4,NNW,28.0,NE,WNW,2.0,...,74.0,46.0,1032.9,1031.1,4.0,5.0,7.2,14.0,1,0
92855,2008-08-24,Adelaide,2.4,15.1,0.0,NNW,20.0,N,WSW,6.0,...,68.0,51.0,1032.9,1029.0,4.0,5.0,9.2,13.5,0,0
93514,2010-07-05,Adelaide,2.4,14.1,0.0,ENE,19.0,ENE,WNW,9.0,...,67.0,43.0,1025.6,1022.4,4.0,5.0,9.5,13.8,0,0
94150,2012-06-09,Adelaide,2.4,12.7,0.0,SSE,26.0,ENE,SE,4.0,...,82.0,51.0,1031.0,1028.0,4.0,5.0,6.8,12.5,0,0
94152,2012-06-11,Adelaide,2.5,15.4,0.0,NE,33.0,ENE,N,9.0,...,56.0,36.0,1024.1,1020.6,4.0,5.0,10.1,14.7,0,0
95816,2017-06-02,Adelaide,2.5,17.2,0.0,NNE,20.0,NW,SE,2.0,...,70.0,40.0,1037.0,1033.9,4.0,5.0,8.6,17.0,0,0
92834,2008-07-24,Adelaide,2.6,14.9,0.0,NNW,28.0,N,NNW,9.0,...,58.0,38.0,1027.5,1023.4,4.0,5.0,8.8,14.5,0,0
94151,2012-06-10,Adelaide,2.6,14.7,0.0,SE,22.0,N,SSW,4.0,...,71.0,47.0,1029.2,1025.6,4.0,5.0,7.0,13.7,0,0

In [90]:
# Grouping DateFrame

In [91]:
df[["Date", "MinTemp"]].groupby(["Date"]).agg(min)

            MinTemp
Date
2007-11-01      8.0
2007-11-02     14.0
2007-11-03     13.7
2007-11-04     13.3
2007-11-05      7.6
...             ...
2017-06-21     -2.8
2017-06-22     -1.7
2017-06-23     -3.5
2017-06-24     -1.8
2017-06-25     -5.8

[3436 rows x 1 columns]

In [92]:
df[["Location", "MaxTemp"]].groupby(["Location"]).agg(np.mean).rename(columns = {"MaxTemp": "Mean MaxTemp"})

                  Mean MaxTemp
Location
Adelaide             22.974172
Albany               20.059717
Albury               22.628294
AliceSprings         29.241369
BadgerysCreek        24.013287
Ballarat             18.265153
Bendigo              21.611852
Brisbane             26.432001
Cairns               29.534514
Canberra             20.982613
Cobar                25.823364
CoffsHarbour         23.911145
Dartmoor             19.691630
Darwin               32.540977
GoldCoast            25.735101
Hobart               17.865651
Katherine            34.934537
Launceston           18.960159
Melbourne            20.942820
MelbourneAirport     20.491858
Mildura              24.840965
Moree                26.875636
MountGambier         19.831744
MountGinini          11.888687
Newcastle            24.083742
Nhil                 22.392141
NorahHead            22.620312
NorfolkIsland        21.773573
Nuriootpa            21.723653
PearceRAAF           26.443406
Penrith              24.717623
Perth                25.034837
PerthAirport         25.533234
Portland             18.056219
Richmond             24.445796
Sale                 20.263992
SalmonGums           24.245455
Sydney               22.997026
SydneyAirport        23.375508
Townsville           29.362636
Tuggeranong          20.781068
Uluru                30.368708
WaggaWagga           22.932928
Walpole              20.572059
Watsonia             20.874381
Williamtown          24.284661
Witchcliffe          21.702363
Wollongong           21.471803
Woomera              26.533199

In [93]:
# Applying function for creating new columns

In [94]:
def diff_temperature(row):
    return row.MaxTemp - row.MinTemp

In [95]:
df["DiffTemp"] = df.apply(diff_temperature, axis=1)

In [96]:
df[["MinTemp", "MaxTemp", "DiffTemp"]].head()

   MinTemp  MaxTemp  DiffTemp
0     13.4     22.9       9.5
1      7.4     25.1      17.7
2     12.9     25.7      12.8
3      9.2     28.0      18.8
4     17.5     32.3      14.8

In [97]:
# Counting unique values

In [98]:
df.Location.value_counts()

Canberra            3402
Sydney              3331
Perth               3193
Darwin              3192
Hobart              3183
Brisbane            3132
Bendigo             3030
Townsville          3027
AliceSprings        3025
MountGambier        3022
Launceston          3020
Adelaide            3020
Ballarat            3017
PerthAirport        3009
MelbourneAirport    3009
Mildura             3005
SydneyAirport       3001
Albany              2996
Nuriootpa           2996
Sale                2992
Albury              2991
Watsonia            2990
Woomera             2984
Portland            2984
Cobar               2980
Cairns              2964
Tuggeranong         2959
WaggaWagga          2958
NorfolkIsland       2944
Wollongong          2943
SalmonGums          2941
CoffsHarbour        2940
Dartmoor            2939
Newcastle           2929
Witchcliffe         2924
GoldCoast           2924
Penrith             2911
Richmond            2906
NorahHead           2888
BadgerysCreek       2877
MountGinini         2816
Moree               2791
Walpole             2770
PearceRAAF          2646
Williamtown         2376
Melbourne           2298
Nhil                1565
Katherine           1545
Uluru               1502
Name: Location, dtype: int64

In [99]:
# Creating CrossTab and adding a new columns

In [100]:
target_to_location_df = pd.crosstab(df.Location, df.Target)
target_to_location_df.head()

Target            0    1
Location
Adelaide       2365  655
Albany         2105  891
Albury         2376  615
AliceSprings   2783  242
BadgerysCreek  2307  570

In [101]:
target_to_location_df["FracOfRainDay"] = target_to_location_df[1]/(target_to_location_df[0] + target_to_location_df[1])

In [102]:
target_to_location_df.sort_values("FracOfRainDay")

Target               0     1  FracOfRainDay
Location
Woomera           2786   198       0.066354
Uluru             1387   115       0.076565
AliceSprings      2783   242       0.080000
Mildura           2678   327       0.108819
Moree             2435   356       0.127553
Cobar             2597   383       0.128523
Nhil              1323   242       0.154633
SalmonGums        2471   470       0.159810
PearceRAAF        2222   424       0.160242
Katherine         1290   255       0.165049
Townsville        2513   514       0.169805
WaggaWagga        2435   523       0.176809
Canberra          2777   625       0.183715
Bendigo           2469   561       0.185149
PerthAirport      2442   567       0.188435
Tuggeranong       2398   561       0.189591
Richmond          2354   552       0.189952
Nuriootpa         2408   588       0.196262
BadgerysCreek     2307   570       0.198123
Penrith           2333   578       0.198557
Perth             2548   645       0.202004
Albury            2376   615       0.205617
Sale              2349   643       0.214906
Adelaide          2365   655       0.216887
MelbourneAirport  2356   653       0.217016
Brisbane          2427   705       0.225096
Launceston        2328   692       0.229139
Melbourne         1765   533       0.231941
Williamtown       1811   565       0.237795
Hobart            2424   759       0.238454
Wollongong        2238   705       0.239551
Newcastle         2218   711       0.242745
Watsonia          2258   732       0.244816
SydneyAirport     2231   770       0.256581
Ballarat          2238   779       0.258204
Sydney            2468   863       0.259081
GoldCoast         2162   762       0.260602
Darwin            2340   852       0.266917
NorahHead         2092   796       0.275623
MountGinini       2033   783       0.278054
CoffsHarbour      2078   862       0.293197
Albany            2105   891       0.297397
Witchcliffe       2054   870       0.297538
MountGambier      2107   915       0.302780
NorfolkIsland     2036   908       0.308424
Dartmoor          2019   920       0.313032
Cairns            2029   935       0.315452
Walpole           1834   936       0.337906
Portland          1889  1095       0.366957

In [103]:
# One-hot encoding

In [104]:
df = pd.get_dummies(df, columns=["WindGustDir"], prefix=["WindGustDir"])

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140787 entries, 0 to 140786
Data columns (total 37 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date             140787 non-null  datetime64[ns]
 1   Location         140787 non-null  object
 2   MinTemp          140787 non-null  float64
 3   MaxTemp          140480 non-null  float64
 4   Rainfall         140787 non-null  float64
 5   WindGustSpeed    140787 non-null  float64
 6   WindDir9am       140787 non-null  object
 7   WindDir3pm       140787 non-null  object
 8   WindSpeed9am     140787 non-null  float64
 9   WindSpeed3pm     140787 non-null  float64
 10  Humidity9am      140787 non-null  float64
 11  Humidity3pm      140787 non-null  float64
 12  Pressure9am      140787 non-null  float64
 13  Pressure3pm      140787 non-null  float64
 14  Cloud9am         140787 non-null  float64
 15  Cloud3pm         140787 non-null  float64
 16  Temp9am          140787 non-null  float64
 17  Temp3pm          140787 non-null  float64
 18  RainToday        140787 non-null  category
 19  Target           140787 non-null  category
 20  DiffTemp         140480 non-null  float64
 21  WindGustDir_E    140787 non-null  uint8
 22  WindGustDir_ENE  140787 non-null  uint8
 23  WindGustDir_ESE  140787 non-null  uint8
 24  WindGustDir_N    140787 non-null  uint8
 25  WindGustDir_NE   140787 non-null  uint8
 26  WindGustDir_NNE  140787 non-null  uint8
 27  WindGustDir_NNW  140787 non-null  uint8
 28  WindGustDir_NW   140787 non-null  uint8
 29  WindGustDir_S    140787 non-null  uint8
 30  WindGustDir_SE   140787 non-null  uint8
 31  WindGustDir_SSE  140787 non-null  uint8
 32  WindGustDir_SSW  140787 non-null  uint8
 33  WindGustDir_SW   140787 non-null  uint8
 34  WindGustDir_W    140787 non-null  uint8
 35  WindGustDir_WNW  140787 non-null  uint8
 36  WindGustDir_WSW  140787 non-null  uint8
dtypes: category(2), datetime64[ns](1), float64(15), object(3), uint8(16)
memory usage: 22.8+ MB

### Reference

1. https://towardsdatascience.com/the-only-30-methods-you-should-master-to-become-a-pandas-pro-749795084bb2
2. https://pbpython.com/categorical-encoding.html